body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
    background-image: url("CowPrint.png");
}

p {
    color: #008080;
    margin: auto;
    width: 90%;
    padding: 10px;
	text-shadow: 2px 2px #ffffff;

}

header {
	background-color: white;
	padding: 20px;
	text-align: center;
	text-shadow: 2px 2px #ffffff;
}

hr {
    color: rgb(0, 0, 0);
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
}

main {
	padding: 20px;
	text-align: center;
	color: #008080;
	text-shadow: 1px 1px #ffffff;

}

h1 {
	font-size: 2em;
	margin-top: 0;
    color: #000000;
	text-shadow: 1px 1px #ffffff;
}

h2 {
	font-size: 1.5em;
	margin-top: 40px;
    color: #000000;
	text-shadow: 1px 1px #ffffff;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-top: 10px;
}

.button {
	display: inline-block;
	background-color: #6F8F84;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 20px;
	transition: all 0.3s ease;
}

.button:hover {
	background-color: #476c5f;
	cursor: pointer;
}

footer {
	background-color: white;
	padding: 10px;
	text-align: center;
}









